.Inner {
    background-color: darkcyan;
    padding-bottom: 50px;
    padding-top: 10px;

    .lineContainer {
        background-color: darkcyan;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;

        img {
            width: 25px;
            display: flex;
            justify-content: center;
            padding-left: 70px;
        }
    }
}

.experienceContainer {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -45px;
    margin-bottom: -50px;



    .experienceWrapper {
        background-color: burlywood;
        border-radius: 6px;
        width: 50%;
        border-radius: 6px;
        box-shadow: 4px 4px 18px 18px wheat;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: burlywood;
            color: darkred;
            border-radius: 6px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            h2 {
                font-size: x-large;
            }

            &:hover {
                transform: scale(0.9);
                animation: blink 0.5s infinite alternate;
            }

            @keyframes blink {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }

        .listContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darkslategray;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: whitesmoke;
            border-radius: 6px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;


                    li:hover {
                        transform: scale(0.9);
                    }

                }

            }
        }
    }


@media only screen and (max-width: 839px) {

    .lineContainer {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 444px) {

    .experienceContainer {

        .experienceWrapper {
            width: 70%;
        }
    }

    .lineContainer {
        margin-top: 240px;
        margin-bottom: 300px;
    }
}